body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navlink-active {
    font-style: italic;
    font-weight: bold;
    color: teal;

}

.navUl li .active {
    font-style: italic;
    font-weight: bold;
    color: teal;
    background-color: rgb(119, 47, 14);
    border-bottom: 2px solid white;
}

.example-custom-input {
    background: blue;
    color: white;
    padding: 5px 10px;

}